body {
    background-color: #2e2e2e;
    color: #ffffff;
}

/* Champs de formulaire */
input[type="text"], input[type="email"], input[type="password"], textarea, select {
    background-color: #444;
    color: #fff;
    border: 1px solid #666;
}

input[type="text"]::placeholder, input[type="email"]::placeholder, input[type="password"]::placeholder, textarea::placeholder {
    color: #bbb;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, textarea:focus, select:focus {
    background-color: #555;
    border-color: #888;
    color: #fff;
}

/* Labels des champs de formulaire */
label {
    color: #ddd;
}

/* Boutons */
button, input[type="submit"] {
    background-color: #666;
    color: #fff;
    border: none;
}

button:hover, input[type="submit"]:hover {
    background-color: #555;
}

/* Liens */
a {
    color: #1e90ff;
}

a:hover {
    color: #63a4ff;
}

/* Tableaux */
table {
    background-color: #333;
    color: #fff;
}

th {
    background-color: #444;
    color: #fff;
}

td {
    background-color: #555;
    color: #fff;
}

tr:nth-child(even) td {
    background-color: #4a4a4a;
}

.admin-header, .module h2, .module caption {
    color: #ddd;
}
